/* body */
body{
  background-image: url("https://cdn.discordapp.com/attachments/294771564115656704/657602923781554197/xtU31Id_1.png");
  background-size: cover;
  background-attachment: fixed;
  margin: 0px;
  padding: 0px;
  width: 100%;
}


.tc{
  color: yellow;
}

.d{
  color: gray;
}



/* header */
.hlogo {
  font-family: "Franklin Gothic Medium";
  color: rgb(147, 47, 180);
  font-size: 2.5vw;
  margin: 0px;
  padding: 0.1vw 0vw 0.1vw 0.5vw;
  background-color: white;
}


.hd{
  color: rgb(255, 0, 0);
}


.header{
  background-color: white;
  margin: 0px;
  padding: 0px,20px,0px,20px;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
}

.hlist{
  margin: 0px;
  border: thin solid black;
}

.hlist ul{
  margin: 0px;
  padding-left: 0px;
}

.hlist li{
  float: left;
  list-style: none;
  background-color: aqua;
  color: white;
  box-shadow: 0 0 2px rgba(0,0,0,0.5) inset;
  margin: 0px;
  padding-top: 0.1vw;
  padding-bottom: 0.1vw;
}

.hll{
  font-size: 1.1vw;
  padding-left: 5vw;
  padding-right: 4vw;
}

.hlh{
  font-size: 1.1vw;
  padding-right: 4vw;
}

.hld{
  font-size: 1.1vw;
  padding-right: 5.5vw;
}



/* main */
.main{
  background-color: white;
  margin: 7vw 10vw;
  padding: 3vw 8vw;
  border: 2px solid aqua;
  box-shadow: 0 0 10px rgba(0,0,0,1);
}


/* main-First */
.mf{
  color: orange;
  font-size: 2.5vw;
  padding-left: 0.8vw;
  padding-right: 0.8vw;
  border-bottom: medium solid aqua;
}


/* main-Info */
.mit{
  font-size: 3vw;
  font-family: "Lucida Grande";
  padding-top: 2vw;
  padding-left: 25.5vw;
  padding-right: 25.5vw;
}

.mi{
  font-family: YuMincho;
  border-left: thin solid gray;
  border-right: thin solid gray;
  padding: 1vw 5vw;
}

.min{
  border: thin solid #e6e6e6;
  padding: 1vw 8vw;
  margin-bottom: 1vw;
}
.min1{
  font-size: 1.5vw;
}
.min2{
  font-size: 3vw;
  color: purple;
  padding-left: 2vw;
}

.migl{
  border: thin solid #e6e6e6;
  padding: 1vw 8vw;
  margin-bottom: 1vw;
}
.migl1{
  font-size: 1.5vw;
}
.migl2{
  font-size: 2vw;
  color: gold;
  padding-left: 2vw;
}

.migm{
  border: thin solid #e6e6e6;
  padding: 1vw 8vw;
  margin-bottom: 1vw;
}
.migm1{
  font-size: 1.5vw;
}
.migm2{
  font-size: 2vw;
  padding-left: 2vw;
}
.migm21{
  color: blue;
}
.migm22{
  color: gray;
}
.migm23{
  color: red;
}

.migt{
  border: thin solid #e6e6e6;
  padding: 1vw 8vw;
  margin-bottom: 1vw;
}
.migt1{
  font-size: 1.5vw;
}
.migt2{
  font-size: 2vw;
  padding-left: 2vw;
}

.migg{
  border: thin solid #e6e6e6;
  padding: 1vw 8vw;
  margin-bottom: 1vw;
}
.migg1{
  font-size: 1.5vw;
}
.migg2{
  font-size: 2vw;
  color: red;
  padding-left: 2vw;
}
.migg3{
  font-size: 1vw;
  color: gray;
  padding-left: 3vw;
}

.migr{
  border: thin solid #e6e6e6;
  padding: 1vw 8vw;
  margin-bottom: 1vw;
}
.migr1{
  font-size: 1.5vw;
}


/* main-About us*/
.maut{
  font-size: 3vw;
  font-family: "Lucida Grande";
  padding-top: 2vw;
  padding-left: 21.5vw;
  padding-right: 21.5vw;
}

.mau{
  font-family: YuMincho;
}


/* main-Guild requirement */
.mgrt{
  font-size: 3vw;
  font-family: "Lucida Grande";
  padding-top: 2vw;
  padding-left: 18.5vw;
  padding-right: 18.5vw;
}

.mgr{
  font-family: YuMincho;
  font-size: 1.5vw;
  padding-left: 7vw;
  border-left: thin solid gray;
  border-right: thin solid gray;
}

.mgrd{
  color:gray;
}

.mgrn1{
  color: blue;
}

.mgrhl{
  color: gold;
}

.mgrm{
  color: red;
}

.mgrn2{
  color: aqua;
}

.mgry{
  color: red;
}

.mgrn3{
  color: darkgreen;
}

.mgrn4{
  color: orange;
}

.mgrw{
  color: red;
}

.mgrw2{
  color: darkred;
}

.mgrn5{
  color: red;
}

.mgrn6{
  color: gold;
}

.mgrn7{
  color: magenta;
}

.mgre{
  color: gold;
}


/* main-How to apply */
.mhtat{
  font-size: 3vw;
  font-family: "Lucida Grande";
  padding-top: 2vw;
  padding-left: 18vw;
  padding-right: 18vw;
}

.mhta{
  font-family: YuMincho;
}


/* main-Members */
.mmt{
  font-size: 3vw;
  font-family: "Lucida Grande";
  padding-top: 2vw;
  padding-left: 21.5vw;
  padding-right: 21.5vw;
}

.mm{
  font-family: YuMincho;
}



/* footer */
footer{
  font-family: arial;
  font-size: 2.5vw;
  margin: 0px;
  padding: 0px;
  background-color: #24292e;
}

.footer{
  padding: 1vw 1vw;
}


/* footer-contact us */
.fc{
  color:white;
  font-size: 2vw;
  border: thin solid gray;
}

.footer li{
  list-style: none;
  font-size: 1.3vw;
  padding-left: 2vw;
}

.fcd{
}

.fcg{
}






/* footer-name */
.fn{
  font-size: 1.3vw;
  color: purple;
  padding-top: 1vw;
  padding-bottom: 2vw;
  padding-left: 85vw;
}
