body{
  background-image: url("https://cdn.discordapp.com/attachments/294771564115656704/657602923781554197/xtU31Id_1.png");
  background-size: cover;
  background-attachment: fixed;
  margin: 0px;
  padding: 0px;
}


/* header */
.hlogo {
  color: purple;
  font-size: 30px;
  margn: 0pc;
  padding 0px;
  background-color: white;
  color: purple;
}

.header{
  background-color: white;
  margin: 0px;
  width: 2000px;
  padding: 0px,20px,0px,20px;
}


.hlist{
  margin: 0px;
}

.hlist ul{
  margin: 0px;
  padding-left: 0px;
  padding-right: 10px;
}

.hlist li{
  float: left;
  list-style: none;
  background-color: aqua;
  color: white;
  margin: 0px;
}

.hll{
  padding-left: 10px;
  padding-right: 100px;
}

.hlh{
  padding-right: 100px;
}

.hld{
  padding-right: 10px;
}
