/* body */
body{
  background-image: url("https://cdn.discordapp.com/attachments/294771564115656704/657602923781554197/xtU31Id_1.png");
  background-size: cover;
  background-attachment: fixed;
  margin: 0px;
  padding: 0px;
  width: 100%;
}


.tc{
  color: #ffd900;
}

.d{
  color: gray;
}





/* header */
.hlogo {
  font-family: "Franklin Gothic Medium";
  color: Blue;
  font-size: 2.5vw;
  margin: 0px;
  padding: 0.1vw 0vw 0vw 0.5vw;
  background: linear-gradient(to bottom, #224150d4, transparent);
}
.hbti{
  font-size: 1.5vw;
  color: #0095ffba;
  margin: 0vw;
  padding-left: 3vw;
}


.header{
  background-color: white;
  margin: 0px;
  padding: 0px,20px,0px,20px;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
}

.hlist{
  margin: 0px;
  border: thin solid black;
}

.hlist ul{
  margin: 0px;
  padding-left: 0px;
}

.hlist li{
  float: left;
  list-style: none;
  background-color: aqua;
  color: white;
  margin: 0px;
  padding-top: 0.3vw;
  padding-bottom: 0.3vw;
}

.hlb{
  font-size: 1.3vw;
  padding-left: 5vw;
  padding-right: 4vw;
}

.hll{
  font-size: 1.3vw;
  padding-right: 4vw;
}

.hlh{
  font-size: 1.3vw;
  padding-right: 4vw;
}

.hld{
  font-size: 1.3vw;
  padding-right: 5.5vw;
}



/* main */
.main{
  background-color: white;
  margin: 7vw 10vw;
  padding: 3vw 8vw;
  border: 2px solid aqua;
  box-shadow: 0 0 10px rgba(0,0,0,1);
}


/* main-First */
.mf{
  color: orange;
  font-size: 2.5vw;
  padding-left: 0.8vw;
  padding-right: 0.8vw;
  border-bottom: medium solid aqua;
}


/* main-Info */
.mit{
  font-size: 3vw;
  font-family: "Lucida Grande";
  padding-top: 2vw;
  padding-left: 1vw;
  border-bottom:medium solid black;
}

.mi{
  font-family: YuMincho;
  border-left: thin solid #737373;
  border-right: thin solid #737373;
  padding: 1vw 5vw;
}

.min{
  border: thin solid #e6e6e6;
  padding: 1vw 8vw;
  margin-bottom: 1vw;
}
.min1{
  font-size: 1.5vw;
}
.min2{
  font-size: 3vw;
  color: purple;
  padding-left: 2vw;
}

.mim{
  border: thin solid #e6e6e6;
  padding: 1vw 8vw;
  margin-bottom: 1vw;
}
.mim1{
  font-size: 1.5vw;
}
.mim2{
  font-size: 2vw;
  color: red;
  padding-left: 2vw;
}

.mic{
  border: thin solid #e6e6e6;
  padding: 1vw 8vw;
  margin-bottom: 1vw;
}
.mic1{
  font-size: 1.5vw;
}
.mic2{
  font-size: 2vw;
  color: aqua;
  padding-left: 2vw;
}

.migl{
  border: thin solid #e6e6e6;
  padding: 1vw 8vw;
  margin-bottom: 1vw;
}
.migl1{
  font-size: 1.5vw;
}
.migl2{
  font-size: 2vw;
  color: gold;
  padding-left: 2vw;
}

.migm{
  border: thin solid #e6e6e6;
  padding: 1vw 8vw;
  margin-bottom: 1vw;
}
.migm1{
  font-size: 1.5vw;
}
.migm2{
  font-size: 2vw;
  padding-left: 2vw;
}
.migm21{
  color: blue;
}
.migm22{
  color: red;
}

.migt{
  border: thin solid #e6e6e6;
  padding: 1vw 8vw;
  margin-bottom: 1vw;
}
.migt1{
  font-size: 1.5vw;
}
.migt2{
  font-size: 2vw;
  padding-left: 2vw;
}

.milr{
  border: thin solid #e6e6e6;
  padding: 1vw 8vw;
  margin-bottom: 1vw;
}
.milr1{
  font-size: 1.5vw;
}
.milr2{
  font-size: 2vw;
  color: #d8bc28;
  padding-left: 2vw;
}

.migg{
  border: thin solid #e6e6e6;
  padding: 1vw 8vw;
  margin-bottom: 1vw;
}
.migg1{
  font-size: 1.5vw;
}
.migg2{
  font-size: 2vw;
  color: red;
  padding-left: 2vw;
}
.migg3{
  font-size: 1vw;
  color: gray;
  padding-left: 3vw;
}

.migr{
  border: thin solid #e6e6e6;
  padding: 1vw 8vw;
  margin-bottom: 1vw;
}
.migr1{
  font-size: 1.5vw;
}

.gra{
  padding-left: 2vw;
}

/* Master */
.ma{
  border: thin solid #800080d4;
  margin-top: 0.8vw;
  margin-bottom: 1vw;
  padding: 1.5vw;
}
.man{
  font-size: 1.5vw;
  color: purple;
}
.maa{
  padding-left: 1vw;
}
.maad{
  padding-left: 1vw;
}

/* Co-Owner */
.co{
  border: thin solid #ff00ffd4;
  margin-bottom: 1vw;
  padding: 1.5vw;
}
.con{
  font-size: 1.5vw;
  color: magenta;
}
.coa{
  padding-left: 1vw;
}
.coad{
  padding-left: 1vw;
}

/* Leader */
.le{
  border: thin solid #ffa500d4;
  margin-bottom: 1vw;
  padding: 1.5vw;
}
.len{
  font-size: 1.5vw;
  color: orange;
}
.lea{
  padding-left: 1vw;
}
.lead{
  padding-left: 1vw;
}

/* Admin */
.ad{
  border: thin solid #ffd700d4;
  margin-bottom: 1vw;
  padding: 1.5vw;
}
.adn{
  font-size: 1.5vw;
  color: gold;
}
.ada{
  padding-left: 1vw;
}
.adad{
  padding-left: 1vw;
}

/* Super Member */
.sm{
  border: thin solid #0000ffd4;
  margin-bottom: 1vw;
  padding: 1.5vw;
}
.smn{
  font-size: 1.5vw;
  color: blue;
}
.sma{
  padding-left: 1vw;
}
.smad{
  padding-left: 1vw;
}

/* Member */
.me{
  border: thin solid #00ffffd4;
  margin-bottom: 1vw;
  padding: 1.5vw;
}
.men{
  font-size: 1.5vw;
  color: aqua;
}
.mea{
  padding-left: 1vw;
}
.mead{
  padding-left: 1vw;
}


/* main-About us*/
.maut{
  font-size: 3vw;
  font-family: "Lucida Grande";
  padding-top: 2vw;
  padding-left: 1vw;
  border-bottom: medium solid black;
}

.mau{
  font-family: YuMincho;
}


/* main-Guild requirement */
.mgrt{
  font-size: 3vw;
  font-family: "Lucida Grande";
  padding-top: 2vw;
  padding-left: 1vw;
  border-bottom: medium solid black;
}

.mgr{
  font-family: YuMincho;
  font-size: 1.5vw;
  padding-left: 7vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  border-left: thin solid gray;
  border-right: thin solid gray;
}

.mgrd{
  color:gray;
}

.mgrn1{
  color: blue;
}

.mgrhl{
  color: gold;
}

.mgrm{
  color: red;
}

.mgrn2{
  color: aqua;
}

.mgry{
  color: red;
}

.mgrn3{
  color: darkgreen;
}

.mgrn4{
  color: orange;
}

.mgrw{
  color: red;
}

.mgrw2{
  color: darkred;
}

.mgrn5{
  color: red;
}

.mgrn6{
  color: gold;
}

.mgrn7{
  color: magenta;
}

.mgre{
  color: gold;
}


/* main-How to apply */
.mhtat{
  font-size: 3vw;
  font-family: "Lucida Grande";
  padding-top: 2vw;
  padding-left: 1vw;
  border-bottom: medium solid black;
}

.mhtaa{
  font-family: YuMincho;
  padding: 1vw 7vw;
  border-left: thin solid gray;
  border-right: thin solid gray;

}

.mhtaf{
  font-size: 2vw;
  padding-bottom: 1vw;
}

.mhtad{
  border: thin solid #e6e6e6;
  padding: 1vw 2vw;
  margin-bottom: 1vw;
}
.mhtadn{
  color: purple;
  font-size: 2vw;
}
.mhtadd{
  font-size: 1.3vw;
}
.mhtaddc1{
  color: #149ada;
}
.mhtaddc2{
  color: #1deaea;
}

.mhtag{
  border: thin solid #e6e6e6;
  padding: 1vw 2vw;
}
.mhtagn{
  color: blue;
  font-size: 2vw;
}
.mhtagd{
  font-size: 1.3vw;
}



/* footer */
footer{
  font-family: arial;
  font-size: 2.5vw;
  margin: 0px;
  padding: 0px;
  background-color: #24292e;
  box-shadow: 0 0 10vw,0 0 2vw inset;
}

.footer{
  padding: 1vw 1vw;
}


/* footer-contact us */
.fc{
  color:white;
  font-size: 2vw;
  border: thin solid gray;
}

.footer li{
  list-style: none;
  font-size: 1.3vw;
  padding-left: 2vw;
}

.fcd{
}

.fcg{
}


/* footer-name */
.fn{
  font-size: 1.3vw;
  color: purple;
  padding-top: 1vw;
  padding-bottom: 2vw;
  padding-left: 85vw;
}
